body {
    background-color: rgba(114, 128, 140, 0.5);
}

title {
    color: firebrick;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 5px 5px black;
    text-align: center;
}

p {
    color: blueviolet;
}
#navbar {
  color: red;
}